.navbar-nav.navbar-right {
	margin-right: 20px;
}

.account-buttons span {
	line-height: 50px;
	margin: 0 10px;
	cursor: pointer;
}

.account-section .avatar {
	margin-bottom: 10px;
}

.user-setings button {
	margin-right: 10px;
}

img {
	width: 100%;
	height: auto;
}

.home-page .section {
	margin-bottom: 30px;
}

.home-page .item-title {
	font-size: 20px;
	color: #000;
}

.product-title,
.post-title{
	font-size: 20px;
	color: #000;
}

.home-page .item-excerpt,
.post-excerpt,
.product-excerpt {
	color: #403f3f;
	height: 63px;
	overflow: hidden;
	padding: 5px 0;
}

.home-page .item-excerpt:hover {
	color: #000;
}

.post-excerpt:hover {
	color: #000;
}

.product-excerpt:hover {
	color: #000;
}

a {
	text-decoration: none !important;
}

.footer {
		margin-top: 40px;
    background: #19232d;
}

.social-follow-buttons {
    width: 200px;
    margin: 30px 0;
    float: right;
}

.social-follow-buttons a {
    float: left;
    color: #fff;
}

.social-follow-buttons .button-container {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    margin: 5px;
}

.facebook-container {
    background: #3b5998;
}

.twitter-container {
    background: #1da1f2;
}

.google-container {
    background: #dd4b39;
}

.instagram-container {
    background: #405de6;
}

.rss-container {
    background: #cd201f;
}

.file-image i {
	font-size: 20px;
	margin-right: 10px;
	cursor: pointer;
}

.delete_post {
	margin-bottom: 10px;
}
